.btn{
	display: inline-block;
	border-radius: 10px;
	position: absolute;
	top: 10%;
  left: 50%;
	font-family: arial;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
	border: none;
}
.btn-blue{
	background: #00BFFF;
	color: #FFF;
}
.btn-blue-position{
	position: absolute;
	left: 60%;
}
.btn-blue:active{
	position: relative;
	top: 5px;
	box-shadow:none;
}
input{
	height: 25px;
	width: 13%;
	border-radius: 20px;
	font-size:13pt;
	padding: 5px 10px;
	border: 1px solid;
	border-color: #DCDCDC;
	background-color: #FBFBFB;
	text-align: center;
	cursor: pointer;
	transition: 0.25;
	position: absolute;
	top:35px;
	left: 40%;
}
h3{
	position: absolute;
	left: 62.5%;
	top: 10%;
	font-size: 32pt;
}
h4{
	position: absolute;
	left: 52.5%;
	top: 5%;
	font-size: 32pt;
}
#img1{
	position: absolute;
	top: 15%;
	left: 5%;
}
#img2{
	position: absolute;
	top: 15%;
	left: 90%;
}
#img3{
	position: absolute;
	top: 15%;
	left: 85%;
}
#img4{
	position: absolute;
	top: 20%;
	left: 20%;
}
h2{
	position: absolute;
	left: 30%;
}
h1{
	position: absolute;
	top: 5%;
	left: 10%;
}
input[type=submit]{
	color: #fff;
	width:7%;
	height:35px;
	top:35px;
  left: 60%;
	background-color: #00BFFF;
	border: none;
}
#div1{
	display: block;
	position: absolute;
	top: 0px;
	background: #FFFFFF;
	width: 100%;
	height : 20%;
	border: 1px solid;
	text-align: center;
}
#div2{
	position: absolute;
	top: 20%;
	width: 100%;
	height: 35%;
	border: 1px solid;
}
#div3{
	position: absolute;
	top: 55%;
	width: 100%;
	height: 45%;
	border: 1px solid;
}
