
.btn-seguir{
	position: absolute;
	top: 10%;
	left: 50%;
	width: 17%;
}
.btn-busca{
	position: absolute;
	top: 15%;
	left: 60%;
	width: 10%;
}
.btn-seguidores{
	position: absolute;
	top: 10%;
	left: 60%;
	width: 10%;
}
.input-busca{
	position: absolute;
	top: 15%;
	left: 40%;
	width: 15%;
}
input {
	border-radius: 20px;
	font-size:13pt;
	padding: 5px 10px;
	border: 1px solid;
	border-color: #DCDCDC;
	background-color: #FBFBFB;
	text-align: center;
	cursor: pointer;
	transition: 0.25;
}
h3{
	position: absolute;
	left: 62.5%;
	top: 10%;
	font-size: 32pt;
}
h4{
	position: absolute;
	left: 52.5%;
	top: 5%;
	font-size: 32pt;
}
#img1{
	position: absolute;
	top: 15%;
	left: 5%;
}
#img2{
	position: absolute;
	top: 15%;
	left: 90%;
}
#img3{
	position: absolute;
	top: 15%;
	left: 85%;
}
#img4{
	position: absolute;
	top: 20%;
	left: 20%;
}
h2{
	position: absolute;
	left: 30%;
}
h1{
	position: absolute;
	top: 5%;
	left: 10%;
}
input[type=submit]{
	color: #fff;
	background-color: #00BFFF;
	border: none;
}
#div1{
	display: block;
	position: absolute;
	top: 0px;
	background: #FFFFFF;
	width: 100%;
	height : 20%;
	border: 1px solid;
	text-align: center;
}
#div2{
	position: absolute;
	top: 20%;
	width: 100%;
	height: 35%;
	border: 1px solid;
}
#div3{
	position: absolute;
	top: 55%;
	width: 100%;
	height: 45%;
	border: 1px solid;
}
